In [2]:
#let Import Pandas
import pandas as pd

Split Function splits a string into a list.

In [6]:
# let Use the Split Function to fetch x
s = "x y z"
print(s.split(' '))
print(s.split(' ')[0]) # to fetch x

['x', 'y', 'z']
x

In [8]:
# lets try split function with a DataFram
data = pd.read_csv('movie.csv')

# Lets check the head of the dataset
data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
# lets Use the split Function to split the Genres
data['genres'].str.split('|')

0       [Adventure, Animation, Children, Comedy, Fantasy]
1                          [Adventure, Children, Fantasy]
2                                       [Comedy, Romance]
3                                [Comedy, Drama, Romance]
4                                                [Comedy]
                              ...
9120                          [Adventure, Drama, Romance]
9121                 [Action, Adventure, Fantasy, Sci-Fi]
9122                                        [Documentary]
9123                                             [Comedy]
9124                                        [Documentary]
Name: genres, Length: 9125, dtype: object

In [10]:
# lets Try to Split the year of Relase from the Titile  of the Movies
# Lets Extract Year of Release from the Movie Ritle.

data['y'] = data['title'].str.split(' ')
data['year'] = data['y'].apply(lambda x: x[-1])

data['year']

0        (1995)
1        (1995)
2        (1995)
3        (1995)
4        (1995)
         ...
9120     (2016)
9121     (2016)
9122     (2016)
9123     (1936)
9124    Unboxed
Name: year, Length: 9125, dtype: object

In [3]:
# Lets Create a DataFrame
df = pd.DataFrame([[0,1],[2,3]],index=['cat','dog'],columns=['weight','height'])

# Lets Print the data
df

     weight  height
cat       0       1
dog       2       3

In [4]:
df.stack()

cat  weight    0
     height    1
dog  weight    2
     height    3
dtype: int64

In [5]:
df.unstack()

weight  cat    0
        dog    2
height  cat    1
        dog    3
dtype: int64